<div>

  <img src="assets/Images/WhatsApp%20Image%202023-01-23%20at%208.28.18%20PM.jpeg" width="70%" height="2%"
       style="margin-left: 15%; margin-top: 3%">

  <div style="margin-left: 41%; margin-top: 3%">
    <button mat-raised-button color="accent" style=" height: 120px; width: 120px" routerLink="/escanear">
      <img src="assets/Images/barcode.png" width="40%" height="40%">
      Escanear Producto
    </button>
    <button mat-raised-button color="accent" style="height: 120px; width: 120px;
            margin-left: 30px" routerLink="/crear">
      <img src="assets/Images/productos-lacteos.png" width="40%" height="40%">
      Registrar Producto
    </button>
  </div>
  <div style="margin-left: 41%; margin-top: 2%">
    <button mat-raised-button color="accent" style="height: 120px; width: 120px" routerLink="/actualizar">
      <img src="assets/Images/ciclo-vital.png" width="55%" height="55%">
      Actualizar Producto
    </button>
    <button mat-raised-button color="accent" style="height: 120px; width: 120px;
            margin-left: 30px">
      <img src="assets/Images/remove-from-cart.png" width="45%" height="45%">
      Eliminar Producto
    </button>
  </div>

</div>




